[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[uk]=Показує поточне навантаження CPU.
Name[uk]=Монітор CPU
