[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[zh_TW]=CPU使用監視器
Name[zh_TW]=CPU使用
