[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[hu]=Megjeleníti a processzorterhelést.
Name[hu]=CPU-figyelő
