[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[eo]=Monitorado de CPU-ŝarĝo
Name[eo]=CPU-ŝarĝo
