[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[zh_CN]=CPU 负载监视器
Name[zh_CN]=CPU 负载
