[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[eu]=PUZaren uneko karga bistaratzen du.
Name[eu]=PUZaren monitorea
