[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[lt]=Procesoriaus stebėtojas
Name[lt]=Procesoriaus apkrova
