[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[sl]=Nadzornik obremenitve CPE
Name[sl]=Obremenitev CPE
