[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Cpu monitor
Comment=Displays the current CPU load.




# Translations
Comment[es_VE]=Monitor de carga del CPU
Name[es_VE]=Carga del CPU
