# Translations
Name[ro_RO]=Configurație acceleratori LXQt
Comment[ro_RO]=Configurează acceleratorii globali pentru LXQt
GenericName[ro_RO]=Configurație acceleratori globali LXQt
