# Translations
Name[ca]=Tecles de les dreceres
GenericName[ca]=Ajusts de les dreceres de teclat
Comment[ca]=Configureu les tecles de les dreceres a LXQt
