# Translations
Name[uk]=Налаштування скорочень LXQt
Comment[uk]=Налаштувати глобальні скорочення стільниці LXQt
GenericName[uk]=Налаштування глобальних скорочень LXQt
