# Translations
Name[de]=Kurzbefehl-Konfiguration
GenericName[de]=Globale Kurzbefehlkonfiguration
Comment[de]=Globale Kurzbefehle für die LXQt-Arbeitsfläche definieren
