# Translations
Name[cs]=Nastavení klávesových zkratek
Comment[cs]=Nastavit celkové klávesové zkratky pro prostředí LXQt
GenericName[cs]=Nastavení celkových klávesových zkratek
