# Translations
Name[es_VE]=Configuracion de atajos de LXQt
Comment[es_VE]=Configura atajos de teclado para el escritorio LXQt
GenericName[es_VE]=Configuracion de Atajos globales de LXQt
