# Translations
Name[pl_PL]=Konfiguracja skrótów pulpitu LXQt
Comment[pl_PL]=Określ globalny skrót pulpitu LXQt
GenericName[pl_PL]=Konfiguracja globalnych skrótów pulpitu LXQt
