# Translations
Name[pt_BR]=Configuração Do Atalho
Comment[pt_BR]=Configurar atalhos globais do desktop LXQt
GenericName[pt_BR]=Configurações Dos Atalhos Globais
