# Translations
Name[eu]=LXQt lasterbideen konfigurazioa
Comment[eu]=Konfiguratu LXQt mahaigainaren lasterbide globalak
GenericName[eu]=LXQt lasterbide globalen konfigurazioa
