# Translations
Name[el]=Πλήκτρα συντομεύσεων
GenericName[el]=Ρυθμίσεις συντομεύσεων πληκτρολογίου
Comment[el]=Διαμόρφωση των πλήκτρων συντομεύσεων του LXQt
