Makefile.in
aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
ltmain.sh
*/Makefile.in
*/Makefile
*/*.o
*/*/*.o
*/*/*/*.o
*/.deps/
*/*/.deps/
*/*/*/.deps/
*/.libs/
*/*/.libs/
*/*/*/.libs/
*/*.lo
*/*/*.lo
*/*/*/*.lo
*/*.la
*/*/*.la
*/*/*/*.la
*/*.a
*/*/*.a
*/*/*/*.a
m4/
missing
po/Makefile.in.in
po/.intltool-merge-cache
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
libtool
gtk-doc.make
man/*.1
po/LINGUAS
po/Makefile
po/POTFILES
po/*.gmo
po/stamp-it
stamp-h1
*.stamp
Makefile
intltool-extract.in
intltool-merge.in
intltool-update.in
src/xml-purge
libmenu-cache/libmenu-cache-uninstalled.pc
libmenu-cache/libmenu-cache.pc
libmenu-cache/menu-cache.h
menu-cache-daemon/menu-cached
menu-cache-gen/menu-cache-gen
docs/reference/libmenu-cache/libmenu-cache*
docs/reference/libmenu-cache/*/*
