[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fi]=Pienennä kaikki ikkunat ja näytä työpöytä
Name[fi]=Näytä työpöytä
