[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[eo]=Malmaksimigi ĉiujn fenestrojn kaj montri la labortablon
Name[eo]=Montri labortablon
