[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[zh_TW]=將所有視窗縮到最小並顯示桌面
Name[zh_TW]=顯示桌面
