[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show Desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
