[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[tr]=Tüm pencereleri küçült ve masaüstünü göster
Name[tr]=Masaüstünü Göster
