[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sr]=Минимизуј све прозоре и прикажи радну површ
Name[sr]=Приказ површи
