[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[hu]=Minimalizálja az összes ablakot és megjeleníti az asztalt
Name[hu]=Asztal megjelenítése
