[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru]=Свернуть все окна и показать рабочий стол.
Name[ru]=Показать рабочий стол