[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sk]=Minimalizuje všetky okná a zobrazí plochu
Name[sk]=Zobraziť plochu
