[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ro_RO]=Minimizează toate ferestrele și arată desktopul
Name[ro_RO]=Arată desktopul
