[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt_BR]=Minimizar todas as janelas e exibir a área de trabalho
Name[pt_BR]=Exibir a área de trabalho
