[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sl]=Pomanjšajte vsa okna, da se pokaže namizje
Name[sl]=Pokaži namizje
