[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[id_ID]=Kecilkan seluruh jendela dan tampilkan desktop
Name[id_ID]=Tampilkan Desktop
