[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations

# Translations
Name[pt]=Mostrar área de trabalho
Comment[pt]=Minimizar janelas e mostrar a área de trabalho
