[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_VE]=Minimiza todas las ventanas de todos los escritorios
Name[es_VE]=Mostrar Escritorio
