# Translations
Name[pt]=Notificações do ambiente de trabalho
GenericName[pt]=Definições das notificações do LXQt
Comment[pt]=Configurar notificações do sistema
