# Translations
GenericName[fi]=LXQt-työpöydän ilmoitusasetukset
Name[fi]=LXQt-työpöydän ilmoitusasetukset
Comment[fi]=Muokkaa LXQt-työpöydän ilmoituksia
