# Translations
GenericName[uk]=Налаштування Freedesktop сповіщень LXQt
Name[uk]=Налаштування Freedesktop сповіщень LXQt
Comment[uk]=Налаштувати Freedesktop сповіщення в стільниці LXQt
