# Translations
GenericName[eu]=LXQt Freedesktop jakinarazpenen konfigurazioa
Name[eu]=LXQt Freedesktop jakinarazpenen konfigurazioa
Comment[eu]=Konfiguratu LXQt mahaigaineko Freedesktop jakinarazpenak
