# Translations
GenericName[pt_BR]=Suspender Automaticamente
Name[pt_BR]=Gerenciamento de energia
Comment[pt_BR]=Configurar as notificações do freedesktop na área de trabalho do LXQt
