Name[es]=Notificaciones del escritorio
GenericName[es]=Configuración de las notificaciones de LXQt
Comment[es]=Configurar las notificaciones del escritorio
