# Translations
Name[fr]=Paramétrage des notifications
GenericName[fr]=Paramétrage des notifications du bureau LXQt
Comment[fr]=Paramétrage des notifications du bureau LXQt
