# Translations
GenericName[eo]=Agordoj de muso por LXQto
Name[eo]=Agordoj de muso por LXQto
Comment[eo]=Agordi atentigojn de freedesktop en LXQt-labortablo
