# Translations
Name[ca]=Notificacions de l'escriptori
GenericName[ca]=Ajusts de les notificacions de LXQt
Comment[ca]=Configureu les notificacions de l'escriptori
