# Translations
GenericName[th_TH]=การตั้งค่าการเตือนต่างๆ ของ LXQt Freedesktop
Name[th_TH]=การตั้งค่าการเตือนต่างๆ ของ LXQt Freedesktop
Comment[th_TH]=ตั้งค่าการเตือนต่างๆ ของ freedesktop ในเดสก์ท็อป LXQt
