# Translations
GenericName[es_VE]=Configuración de notificaciones de Escritorio LXQt
Name[es_VE]=Configuración de notificaciones de Escritorio LXQt
Comment[es_VE]=Configura las notificacones en el Escritoro LXQt
