# Translations
Name[el]=Ειδοποιήσεις επιφάνειας εργασίας
GenericName[el]=Ρυθμίσεις ειδοποιήσεων LXQt
Comment[el]=Διαμόρφωση των ειδοποιήσεων της επιφάνειας εργασίας LXQt
