Name[el]=Ημερομηνία και ώρα
GenericName[el]=Ρυθμίσεις της ημερομηνίας και της ώρας
Comment[el]=Διαμόρφωση της ημερομηνίας και της ώρας του συστήματός σας
