[Desktop Entry]
Name[ru]=Дата и время
GenericName[ru]=Настройки даты и времени
Comment[ru]=Настроить дату и время вашей системы

#TRANSLATIONS_DIR=translations
