# Translations
Comment[ru]=Позволяет менять яркость и контраст монитора
GenericName[ru]=Настройка яркости и контраста LXQt
Name[ru]=Настройка яркости и контраста LXQt
