[submodule "libfm"]
	path = libfm
	url = git@git.lxde.org:/lxde/libfm.git
	branch = master
[submodule "menu-cache"]
	path = menu-cache
	url = git@git.lxde.org:/lxde/menu-cache.git
	branch = master
[submodule "liblxqt"]
	path = liblxqt
	url = git@git.lxde.org:/lxde/liblxqt.git
	branch = master
[submodule "libqtxdg"]
	path = libqtxdg
	url = git@git.lxde.org:/lxde/libqtxdg.git
	branch = master
[submodule "lxqt-about"]
	path = lxqt-about
	url = git@git.lxde.org:/lxde/lxqt-about.git
	branch = master
[submodule "lxqt-powermanagement"]
	path = lxqt-powermanagement
	url = git@git.lxde.org:/lxde/lxqt-powermanagement.git
	branch = master
[submodule "pcmanfm-qt"]
	path = pcmanfm-qt
	url = git@git.lxde.org:/lxde/pcmanfm-qt.git
	branch = master
[submodule "libsysstat"]
	path = libsysstat
	url = git@git.lxde.org:/lxde/libsysstat.git
	branch = master
[submodule "liblxqt-mount"]
	path = liblxqt-mount
	url = git@git.lxde.org:/lxde/liblxqt-mount.git
	branch = master
[submodule "lxqt-runner"]
	path = lxqt-runner
	url = git@git.lxde.org:/lxde/lxqt-runner.git
	branch = master
[submodule "lxqt-policykit"]
	path = lxqt-policykit
	url = git@git.lxde.org:/lxde/lxqt-policykit.git
	branch = master
[submodule "lxqt-panel"]
	path = lxqt-panel
	url = git@git.lxde.org:/lxde/lxqt-panel.git
	branch = master
[submodule "lxqt-openssh-askpass"]
	path = lxqt-openssh-askpass
	url = git@git.lxde.org:/lxde/lxqt-openssh-askpass.git
	branch = master
[submodule "lxqt-notificationd"]
	path = lxqt-notificationd
	url = git@git.lxde.org:/lxde/lxqt-notificationd.git
	branch = master
[submodule "lxqt-config"]
	path = lxqt-config
	url = git@git.lxde.org:/lxde/lxqt-config.git
	branch = master
[submodule "lxqt-appswitcher"]
	path = lxqt-appswitcher
	url = git@git.lxde.org:/lxde/lxqt-appswitcher.git
	branch = master
[submodule "obconf-qt"]
	path = obconf-qt
	url = git@git.lxde.org:/lxde/obconf-qt.git
	branch = master
[submodule "lximage-qt"]
	path = lximage-qt
	url = git@git.lxde.org:/lxde/lximage-qt.git
	branch = master
[submodule "lxqt-globalkeys"]
	path = lxqt-globalkeys
	url = git@git.lxde.org:/lxde/lxqt-globalkeys.git
	branch = master
[submodule "lxqt-common"]
	path = lxqt-common
	url = git@git.lxde.org:/lxde/lxqt-common.git
	branch = master
[submodule "lxqt-lightdm-greeter"]
	path = lxqt-lightdm-greeter
	url = git@git.lxde.org:/lxde/lxqt-lightdm-greeter.git
	branch = master
[submodule "compton-conf"]
	path = compton-conf
	url = git@git.lxde.org:/lxde/compton-conf.git
	branch = master
[submodule "lxmenu-data"]
	path = lxmenu-data
	url = git@git.lxde.org:/lxde/lxmenu-data.git
	branch = master
[submodule "lxqt-qtplugin"]
	path = lxqt-qtplugin
	url = git@git.lxde.org:/lxde/lxqt-qtplugin.git
	branch = master
[submodule "lxqt-session"]
	path = lxqt-session
	url = git@git.lxde.org:/lxde/lxqt-session.git
[submodule "lxqt-config-randr"]
	path = lxqt-config-randr
	url = git@git.lxde.org:/lxde/lxqt-config-randr.git
[submodule "lxqt-admin"]
	path = lxqt-admin
	url = git@git.lxde.org:/lxde/lxqt-admin.git
