moc_*.cxx
qrc_*.cxx
cmake_install.cmake
cmake_uninstall.cmake
Makefile
CMakeFiles
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
lib*.so
lib*.so.*
ui_*.h
*.qm
razorqt-appswitcher/razor-appswitcher
razorqt-desktop/razor-desktop
razorqt-panel/panel/razor-panel
*~
*.autosave
*-swp
CMakeLists.txt.user*
/build
nbproject/
