[submodule "libfm"]
	path = libfm
	url = ../../lxde/libfm.git
	branch = master
[submodule "menu-cache"]
	path = menu-cache
	url = ../../lxde/menu-cache.git
	branch = master
[submodule "liblxqt"]
	path = liblxqt
	url = ../liblxqt.git
	branch = master
[submodule "libqtxdg"]
	path = libqtxdg
	url = ../libqtxdg.git
	branch = master
[submodule "lxqt-about"]
	path = lxqt-about
	url = ../lxqt-about.git
	branch = master
[submodule "lxqt-powermanagement"]
	path = lxqt-powermanagement
	url = ../lxqt-powermanagement.git
	branch = master
[submodule "pcmanfm-qt"]
	path = pcmanfm-qt
	url = ../pcmanfm-qt.git
	branch = master
[submodule "libsysstat"]
	path = libsysstat
	url = ../libsysstat.git
	branch = master
[submodule "lxqt-runner"]
	path = lxqt-runner
	url = ../lxqt-runner.git
	branch = master
[submodule "lxqt-policykit"]
	path = lxqt-policykit
	url = ../lxqt-policykit.git
	branch = master
[submodule "lxqt-panel"]
	path = lxqt-panel
	url = ../lxqt-panel.git
	branch = master
[submodule "lxqt-openssh-askpass"]
	path = lxqt-openssh-askpass
	url = ../lxqt-openssh-askpass.git
	branch = master
[submodule "lxqt-notificationd"]
	path = lxqt-notificationd
	url = ../lxqt-notificationd.git
	branch = master
[submodule "lxqt-config"]
	path = lxqt-config
	url = ../lxqt-config.git
	branch = master
[submodule "obconf-qt"]
	path = obconf-qt
	url = ../obconf-qt.git
	branch = master
[submodule "lximage-qt"]
	path = lximage-qt
	url = ../lximage-qt.git
	branch = master
[submodule "lxqt-globalkeys"]
	path = lxqt-globalkeys
	url = ../lxqt-globalkeys.git
	branch = master
[submodule "lxmenu-data"]
	path = lxmenu-data
	url = ../../lxde/lxmenu-data.git
	branch = master
[submodule "lxqt-qtplugin"]
	path = lxqt-qtplugin
	url = ../lxqt-qtplugin.git
	branch = master
[submodule "lxqt-session"]
	path = lxqt-session
	url = ../lxqt-session.git
[submodule "lxqt-admin"]
	path = lxqt-admin
	url = ../lxqt-admin.git
[submodule "lxqt-sudo"]
	path = lxqt-sudo
	url = ../lxqt-sudo
[submodule "libfm-qt"]
	path = libfm-qt
	url = ../libfm-qt
	branch = master
[submodule "pavucontrol-qt"]
	path = pavucontrol-qt
	url = ../pavucontrol-qt
[submodule "qtermwidget"]
	path = qtermwidget
	url = ../qtermwidget
[submodule "qterminal"]
	path = qterminal
	url = ../qterminal
[submodule "lxqt-build-tools"]
	path = lxqt-build-tools
	url = ../lxqt-build-tools
[submodule "lxqt-themes"]
	path = lxqt-themes
	url = ../lxqt-themes
[submodule "lxqt-archiver"]
	path = lxqt-archiver
	url = ../lxqt-archiver
[submodule "qps"]
	path = qps
	url = ../qps
[submodule "screengrab"]
	path = screengrab
	url = ../screengrab
