[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications
Icon=window-duplicate

#TRANSLATIONS_DIR=../translations

# Translations
Name[da]=Opgavehåndtering
Comment[da]=Skift mellem kørende programmer
