[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_VE]=Cambia entre aplicaciones o programas abiertos
Name[es_VE]=Manejador de ventanas
