[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sl]=Preklapljajte med zagnanimi programi
Name[sl]=Upravljalnik opravil
