[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[tr]=Çalışan uygulamalar arasında geçiş yapın
Name[tr]=Görev Yöneticisi
