[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt_BR]=Alterne entre aplicativos em execução
Name[pt_BR]=Gerenciador de tarefas
