[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sk]=Prepínanie medzi bežiacimi aplikáciami
Name[sk]=Správca úloh
