[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sr@latin]=Prebacujte između programa u radu
Name[sr@latin]=Menadžer zadataka
