[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[th_TH]=สลับใช้งานระหว่างโปรแกรมที่เปิดอยู่
Name[th_TH]=ตัวจัดการงาน
