[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[uk]=Перемкнутися між запущеними вікнами
Name[uk]=Менеджер завдань
