[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[hu]=Váltás a futó alkalmazások között
Name[hu]=Feladatkezelő
