[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fi]=Vaihda käynnissä olevien sovellusten välillä
Name[fi]=Tehtävähallinta
