[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Task manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl]=Przełączaj pomiędzy otwartymi aplikacjami
Name[pl]=Pasek zadań
