# Proper Name <proper@email.xx> Commit Name <commit@email.xx>


Alexander Golubev <fatzer2@gmail.com> Golubev Alexander <fatzer2@gmail.com>

Alf Gaida  <agaida@siduction.org> Alf <agaida@siduction.org>
Alf Gaida  <agaida@siduction.org> LX* Machine account <lxadmin@lxqt.org>

attus <attus@enterpriseforever.com> attuska <attus@enterpriseforever.com>
attus <attus@enterpriseforever.com> attuska <attuska@users.noreply.github.com>

Ayhan Yalçınsoy <ayhanyalcinsoy@pisilinux.org> Ayhan YALÇINSOY PhD. (Dr.) <ayhanyalcinsoy@pisilinux.org>
Ayhan Yalçınsoy <ayhanyalcinsoy@pisilinux.org> ayhanyalcinsoy <ayhanyalcinsoy@pisilinux.org>

Bartosz Taczala <bartosz.taczala@tieto.com> Bartek Taczala <w0lanto@gmail.com>

Georges Eckenschwiller <paiiou@free.fr> paiiou <paiiou@free.fr>

Hong Jen Yee (PCMan) <pcman.tw@gmail.com> Hone Jen Yee (PCMan) <pcman.tw@gmail.com>
Hong Jen Yee (PCMan) <pcman.tw@gmail.com> PCMan <pcman.tw@gmail.com>

Jerome Leclanche <jerome@leclan.ch> Jerome Leclanche <adys.wh@gmail.com>

Julien Lavergne <julien.lavergne@gmail.com> Julien Lavergne <gilir@ubuntu.com>

Marcin Mikołajczak <me@m4sk.in> Marcin Mikołajczak <marcin123407@vivaldi.net>
Marcin Mikołajczak <me@m4sk.in> m4sk1n <me@m4sk.in>

Masamichi Ito <i_to_ma-lxqt014@yahoo.co.jp> Ma. Ito <i_to_ma-lxqt014@yahoo.co.jp>
Masamichi Ito <i_to_ma-lxqt014@yahoo.co.jp> Masamichi Ito <52656419+ito32bit@users.noreply.github.com>
Masamichi Ito <i_to_ma-lxqt014@yahoo.co.jp> Masamichi Ito <ito32bit+github@gmail.com>
Masamichi Ito <i_to_ma-lxqt014@yahoo.co.jp> Masamichi Ito <ito32bit+weblate@gmail.com>
Masamichi Ito <i_to_ma-lxqt014@yahoo.co.jp> Masamichi Ito <ito32bit@gmail.com>

Michael Vetter <jubalh@iodoru.org> Michael Vetter <g.bluehut@gmail.com>
Michael Vetter <jubalh@iodoru.org> Michael Vetter <jubalh@openmailbox.org>

micrococo <micrococo@gmx.com>  micrococo <micrococo@users.noreply.github.com>

notname000 <notname000@outlook.com> notname000 <34855362+notname000@users.noreply.github.com>

Pavel Fric <pavelfric@yahoo.com> PavelFric <pavelfric@yahoo.com>

Palo Kisa <palo.kisa@gmail.com> palinek <palinek@users.noreply.github.com>

Peter Mattern <pmattern@arcor.de> Peter Mattern <matternp@arcor.de>
Peter Mattern <pmattern@arcor.de> Peter Mattern <pmattern@users.noreply.github.com>

Petr Vanek <petr@yarpen.cz> Petr Vanek <petr@scribus.info>
Petr Vanek <petr@yarpen.cz> pvanek <petr@yarpen.cz>

Philipp Wiesemann <philipp.wiesemann@arcor.de> Philipp Wiesemann <philippwiesemann@users.noreply.github.com>

Robert Antoni Buj Gelonch <rbuj@fedoraproject.org> Robert Antoni Buj Gelonch <robert.buj@gmail.com>
Robert Antoni Buj Gelonch <rbuj@fedoraproject.org> rbuj <robert.buj@gmail.com>
Robert Antoni Buj Gelonch <rbuj@fedoraproject.org> Robert Antoni Buj Gelonch <robert.buj@gmail.com>
Robert Antoni Buj Gelonch <rbuj@fedoraproject.org> Robert Antoni Buj Gelonch <rbuj@users.noreply.github.com>

Safa Alfulaij <safa1996alfulaij@gmail.com> safaalfulaij <safa1996alfulaij@gmail.com>

Stefano Binde <stef.binde@riseup.net> stefonarch <stef.binde@riseup.net>

Takefumi Nagata <take1975@kumamoto.email.ne.jp> Takefumi Nagata <rago1975@users.noreply.github.com>

Tsu Jan <tsujan2000@gmail.com> tsujan <tsujan2000@gmail.com>


Urs Fleisch <U.Fleisch@glutz.com> Urs Fleisch <ufleisch@users.sourceforge.net>


Vladimir Chren <vlado.chren@inmail.sk> vc-01 <vlado.chren@inmail.sk>
Vladimir Chren <vlado.chren@inmail.sk> vc-01 <vc-01@users.noreply.github.com>


welaq <hazap@hotmail.com> welaq <welaq@users.noreply.github.com>

Yaşar Çiv <yasarciv67@gmail.com> Yaşar <42207558+yasarciv67@users.noreply.github.com>

Zac Anger <zac@zacanger.com> zacanger <zac@zacanger.com>
