[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Desktop switcher
Comment=Allows easy switching between virtual desktops.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sl]=Omogoča preklop med navideznimi namizji
Name[sl]=Desktopswitch
