[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt_BR]=Lance seus aplicativos favoritos
Name[pt_BR]=Lançador rápido
