[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl]=Szybki dostęp do Twoich ulubionych aplikacji.
Name[pl]=Szybkie uruchamianie
