[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[eu]=Zure gogoko aplikazioetarako sarbide erraza
Name[eu]=Abio azkarra
