[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[lt]=Lengva prieiga prie jūsų mėgstamų programų
Name[lt]=Spartusis paleidimas
