[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.
Icon=quickopen

#TRANSLATIONS_DIR=../translations

# Translations
Name[da]=Hurtigstart
Comment[da]=Nem adgang til dine favoritprogrammer.
