[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[tr]=Sık kullanılan uygulamalarınızı çalıştırın
Name[tr]=Hızlı çalıştırıcı
