[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[th_TH]=เรียกใช้งานโปรแกรมที่ชื่นชอบของคุณ
Name[th_TH]=ตัวเรียกโปรแกรมด่วน
