[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_VE]=Iconos lanzadores de tus aplicaciones favoritas
Name[es_VE]=Lanzadores
