[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sr@latin]=Pokreće vaše omiljene programe
Name[sr@latin]=Brzo pokretanje
