[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name[ru]=Системная статистика
Comment[ru]=Плагин системной статистики.

#TRANSLATIONS_DIR=../translations
