[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[eu]=Bistaratu sarearen egoera eta aktibitatea
Name[eu]=Sarearen monitorea
