[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.

# Translations
Name[hu]=Hálózatfigyelő
Comment[hu]=Megjeleníti a hálózat állapotát és aktivitását.
