[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[ja]=ネットワークの状態や動作状況を表示します
Name[ja]=ネットワークモニター
