[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[ru]=Отображает сетевой статус и активность.
Name[ru]=Сетевой Монитор