[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations

# Translations
Name[pt]=Discos amovíveis
Comment[pt]=Montar e desmontar discos óticos e unidades USB.
