[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.
Icon=drive-removable-media

#TRANSLATIONS_DIR=../translations

# Translations
Name[da]=Flytbare medier
Comment[da]=Nem montering og afmontering af USB- og optiske drev.
