[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sl]=Upravljalnik odstranljivih nosilcev (USB, CD, DVD, ...)
Name[sl]=Odstranljivi nosilci
