[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[fi]=Irrotettavien laitteiden ja medioiden käsittelijä (USB, CD, DVD...)
Name[fi]=Irrotettavat laitteet ja mediat
