[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[uk]=Легке керування знімними носіями (USB, CD, DVD тощо)
Name[uk]=Знімні носії
