[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt_BR]=Manipulador de mídia removível (USB, CD, DVD, ...)
Name[pt_BR]=Mídia removível
