[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[zh_CN]=移动存储处理(USB, CD, DVD, ...)
Name[zh_CN]=移动存储
