[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[eu]=Gailu aldagarrien maneiatzailea (USB, CD, DVD, ...)
Name[eu]=Gailu aldagarria
