[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[sr]=Руковаоц уклоњивим медијима (УСБ, ЦД, ДВД...)
Name[sr]=Уклоњиви медији
