#Translations
Name[pt_BR]=Gerenciador de Arquivos PCManFM-Qt
GenericName[pt_BR]=Gerenciador de Arquivos
Comment[pt_BR]=Navegue pelo sistema de arquivos e gerencie arquivos e pastas
