#Translations
Name[km_KH]=កម្មវិធី​គ្រប់​គ្រង​ឯកសារ PCManFM-Qt
GenericName[km_KH]=កម្មវិធី​គ្រប់​គ្រង​ឯកសារ
Comment[km_KH]=កម្មវិធីគ្រប់គ្រងឯកសារនៃផ្ទៃ Desktop LXQt
