#Translations / translated by tulliana <tulliana@yandex.com>
Name[tr]=PCManFM-Qt
GenericName[tr]=Dosya Yönetici
Comment[tr]=Lxqt dosya ve masaüstü yöneticisi
