#Translations
Name[pt]=Gestor de ficheiros PCManFM-Qt
GenericName[pt]=Gestor de ficheiros
Comment[pt]=Explorar o sistema de ficheiros e gerir os seus ficheiros e pastas
