Name[el]=Επιφάνεια εργασίας
GenericName[el]=Ρυθμίσεις της επιφάνειας εργασίας
Comment[el]=Αλλαγή της ταπετσαρίας και της συμπεριφοράς του διαχειριστή της επιφάνειας εργασίας
