#Translations
Name[ca]=Gestor de fitxers PCManFM-Qt
GenericName[ca]=Gestor de fitxers
Comment[ca]=Navegueu pel sistema de fitxers i gestioneu els fitxers
