#Translations / translated by tulliana <tulliana@yandex.com>
Name[tr]=Dosya Yöneticisi (PCManFM-Qt)
GenericName[tr]=Dosya ve masaüstü yönetim uygulaması
Comment[tr]=Dosya Yöneticisi ve Masaüstü Ayarları (duvarkağıtları, menüler vs..)
