#Translations
Name[pt]=Área de trabalho
GenericName[pt]=Definições da área de trabalho
Comment[pt]=Mudar o papel de parede e o comportamento da área de trabalho
