#Translations
Name[hr]=Radna površina
GenericName[hr]=Postavke radne površine
Comment[hr]=Promijeni sliku pozadine i ponašanje upravljača radne površine
