Name[el]=Διαχειριστής αρχείων PCManFM-Qt
GenericName[el]=Διαχειριστής αρχείων
Comment[el]=Περιήγηση του συστήματος αρχείων και διαχείριση των αρχείων

