# Translations
Name[pt]=Teclado e rato
GenericName[pt]=Definições de introdução
Comment[pt]=Configuração do rato, teclado e outros dispositivos de introdução
