Name[fr]=Clavier et Souris
GenericName[fr]=Paramètres des périphériques d'entrée
Comment[fr]=Configurer les claviers, souris et les autres périphériques d'entrée
