Name[gl]=Teclado e rato
GenericName[gl]=Configuración dos dispositivos de entrada
Comment[gl]=Configure o teclado, rato e outros dispositivos de entrada
