# Translations
Name[ca]=Teclat i ratolí
GenericName[ca]=Ajusts de l'entrada
Comment[ca]=Configureu el teclat, el ratolí i altres dispositius d'entrada
