# Translations
Name[de]=Tastatur und Maus
GenericName[de]=Eingabegerätekonfiguration
Comment[de]=Tastatur, Maus und andere Eingabegeräte konfigurieren
