# Translations
Name[it]=Tastiera e mouse
GenericName[it]=Configura i dispositivi di immissione
Comment[it]=Configura tastiera, mouse e altri dispositivi di immissione


