#Translations
Name[el]=Πληκτρολόγιο και ποντίκι
GenericName[el]=Ρυθμίσεις εισαγωγής
Comment[el]=Διαμόρφωση του πληκτρολογίου, του ποντικιού, και άλλων συσκευών εισαγωγής
