Name[es]=Teclado y ratón
GenericName[es]=Configuración de dispositivos de entrada
Comment[es]=Configure el teclado, ratón y otros dispositivos de entrada
