Name[sr@ijekavianlatin]=Centar za podešavanje
Comment[sr@ijekavianlatin]=Podesite Rejzorove module
GenericName[sr@ijekavianlatin]=Podešavanje Rejzora
