# Proper Name <proper@email.xx> Commit Name <commit@email.xx>

Alf Gaida  <agaida@siduction.org> Alf <agaida@siduction.org>
Alf Gaida  <agaida@siduction.org> LX* Machine account <lxadmin@lxqt.org>

Masamichi Ito <i_to_ma-lxqt014@yahoo.co.jp>  Ma. Ito <i_to_ma-lxqt014@yahoo.co.jp>
Masamichi Ito <i_to_ma-lxqt014@yahoo.co.jp>  Masamichi Ito <52656419+ito32bit@users.noreply.github.com>
Masamichi Ito <i_to_ma-lxqt014@yahoo.co.jp>  Masamichi Ito <ito32bit+github@gmail.com>
Masamichi Ito <i_to_ma-lxqt014@yahoo.co.jp>  Masamichi Ito <ito32bit+weblate@gmail.com>


micrococo <micrococo@gmx.com>  micrococo <micrococo@users.noreply.github.com>

Tsu Jan <tsujan2000@gmail.com> tsujan <tsujan2000@gmail.com>
