[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[tr]=Menü temelli uygulama çalıştırıcı
Name[tr]=Uygulama menüsü
