[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[id_ID]=Peluncur aplikasi berbasis menu
Name[id_ID]=Menu aplikasi
