[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[eo]=Lanĉilo de aplikaĵoj baziĝita sur menuo
Name[eo]=Menuo de aplikaĵoj
