[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[zh_TW]=以選單方式呈現的應用程式啟動器
Name[zh_TW]=應用程式選單
