[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt_BR]=Lançador de aplicativos baseado em menu
Name[pt_BR]=Menu de aplicativos
