[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.
Icon=start-here-lxqt

#TRANSLATIONS_DIR=../translations

# Translations
Name[da]=Programmenu
Comment[da]=En menu med alle dine programmer.
