[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[hu]=Egy menü az alkalmazások indításához
Name[hu]=Alkalmazásmenü
