[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl]=Menu pozwalające na uruchomienie i wyszukiwanie wszystkich aplikacji.
Name[pl]=Menu
