[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations

# Translations
Name[pt]=Menu de aplicações
Comment[pt]=Lançador de aplicações baseado no menu
