[Desktop Entry]
Type=Application
Exec=qterminal --drop
Terminal=false
Categories=Qt;System;TerminalEmulator;
Icon=utilities-terminal

Name=QTerminal drop down
Name[ca]=QTerminal desplegable
Name[cs]=Rozbalovací QTerminál
Name[de]=QTerminal herabhängend
Name[el]=QTerminal αναπτυσσόμενο
Name[es]=QTerminal desplegable
Name[hu]=Qterminal (legördülő)
Name[lt]=QTerminal išskleidžiamasis
Name[pl]=QTerminal (tryb rozwijany)
Name[pt]=QTerminal suspenso
Name[pt_BR]=QTerminal suspenso
Name[ja]=QTerminal ドロップダウン

GenericName=Drop-down Terminal
GenericName[bg]=Падащ терминал
GenericName[ca]=Terminal desplegable
GenericName[ca@valencia]=Terminal desplegable
GenericName[cs]=Vysouvací terminál
GenericName[da]=Terminal der ruller ned
GenericName[de]=Aufklapp-Terminal
GenericName[el]=Αναπτυσσόμενο τερματικό
GenericName[en_GB]=Drop-down Terminal
GenericName[es]=Terminal desplegable
GenericName[et]=Lahtikeriv terminal
GenericName[fr]=Terminal déroulant
GenericName[hr]=Spuštajući terminal
GenericName[hu]=Legördülő terminál
GenericName[it]=Terminale a discesa
GenericName[ja]=ドロップダウン式ターミナル
GenericName[km]=ស្ថានីយ​ទម្លាក់​ចុះ
GenericName[ko]=위에서 내려오는 터미널
GenericName[lt]=Išskleidžiamasis terminalas
GenericName[nb]=Nedtrekksterminal
GenericName[nds]=Utklapp-Konsool
GenericName[nl]=Uitvouwbare terminalemulator
GenericName[pa]=ਲਟਕਦਾ ਟਰਮੀਨਲ
GenericName[pl]=Rozwijany emulator terminala
GenericName[pt]=Terminal suspenso
GenericName[pt_BR]=Terminal suspenso
GenericName[ro]=Terminal derulant
GenericName[ru]=Выпадающий терминал
GenericName[sk]=Rozbaľovací terminál
GenericName[sv]=Rullgardinsterminal
GenericName[th]=เทอร์มินัลแบบหย่อนลง
GenericName[tr]=Yukarıdan Açılan Uçbirim
GenericName[uk]=Спадний термінал
GenericName[x-test]=xxDrop-down Terminalxx
GenericName[zh_CN]=拉幕式终端
GenericName[zh_TW]=下拉式終端機

Comment=A drop-down terminal emulator.
Comment[ca]=Un emulador de terminal desplegable.
Comment[cs]=Vysouvací emulátor terminálu.
Comment[de]=Ein Ausklapp-Terminalemulator.
Comment[el]=Ένας αναπτυσσόμενος προσομοιωτής τερματικού.
Comment[es]=Un emulador de terminal desplegable.
Comment[hu]=Egy legördülő terminál emulátor.
Comment[lt]=Išskleidžiamasis terminalo emuliatorius.
Comment[pt]=Um emulador de terminal suspenso.
Comment[pt_BR]=Um emulador de terminal suspenso.
Comment[ru]=Выпадающий эмулятор терминала.
Comment[ja]=ドロップダウン式　ターミナルエミュレータ

