#Translations
Name[hr]=Upravljanje energijom
GenericName[hr]=Upravljanje energijom – Postavke
Comment[hr]=Razne postavke za upravljanje energijom, kao što su praćenja stanja baterije i stanja mirovanja
