Name[es]=Gestión de energía
GenericName[es]=Configuración de la gestión de energía
Comment[es]=Configuraciones varias relacionadas con la gestión de energía, como la batería o el monitor de inactividad
