Name[cs]=Správa napájení
GenericName[cs]=Nastavení správy napájení
Comment[cs]=Různá nastavení ohledně správy napájení, jako je stav akumulátoru a přechod do úsporného režimu při nečinnosti
