Name[el]=Διαχείριση ενέργειας
GenericName[el]=Ρυθμίσεις της διαχείρισης ενέργειας
Comment[el]=Διάφορες ρυθμίσεις σχετικά με την διαχείριση ενέργειας όπως ο επόπτης μπαταρίας ή αδράνειας
