Name[de]=Energieverwaltung
GenericName[de]=Einstellungen der Energieverwaltung
Comment[de]=Verschiedene Einstellungen zur Energieverwaltung wie Batterie- oder Leerlaufüberwachung
