Name[ca]=Gestió de l'energia
GenericName[ca]=Ajusts de la gestió de l'energia
Comment[ca]=Diversos ajusts pel que fa a la gestió de l'energia com la bateria o l'observador de l'ociositat
