Name[da]=Strømstyring
GenericName[da]=Indstillinger for strømstyring
Comment[da]=Diverse indstillinger omhandlende strømstyring, såsom batteri- eller tomgangsovervågning
