# Translations
Name[ru]=Управление энергопотреблением
GenericName[ru]=Настройки управления энергопотреблением
Comment[ru]=Настройки управления энергопотреблением
