#Translations
Name[fr]=Gestion de l'énergie
GenericName[fr]=Paramétrage de la gestion de l'énergie
Comment[fr]=Divers paramétrages de la gestion de l'énergie, tels que batteries ou contrôle de l'activité
