[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[es_VE]=Controla el volumen del sistema y lanza el mezclador escogido referido
Name[es_VE]=Control de volumen
