[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru]=Управлять громкостью звука в системе и запустить предпочитаемый микшер.
Name[ru]=Регулятор громкости