[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pt_BR]=Controla o volume do sistema e lança seu mixer preferido.
Name[pt_BR]=Controle de Volume
