[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[uk]=Регулює системну гучність та запускає ваш улюблений мікшер
Name[uk]=Регулятор гучності
