[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[eu]=Kontrolatu sistemaren bolumena eta abiarazi zure gogoko nahasgailua.
Name[eu]=Bolumen-kontrola
