[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[zh_TW]=感應器
Comment[zh_TW]=從硬體感應器中檢視(現在為 lm_sensors)
