[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[pt_BR]=Sensores
Comment[pt_BR]=Visualizar as leituras dos sensores de hardware (atualmente do lm_sensors)
