[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[eo]=Sentiloj
Comment[eo]=Vidi legojn de sentiloj (aktuale lm_sensors)
