#TRANSLATIONS
Name[fr]=Utilisateurs et groupes
GenericName[fr]=Paramétrage des utilisateurs et des groupes
Comment[fr]=Paramétrage des utilisateurs et des groupes du système
