#TRANSLATIONS
Name[de]=Benutzer und Gruppen
GenericName[de]=Einstellungen für Benutzer und Gruppen
Comment[de]=Konfiguriert die Benutzer und Gruppen des Systems
