#TRANSLATIONS
Name[tr]=Kullanıcılar ve Gruplar
GenericName[tr]=Kullanıcı ve Grup Ayarları
Comment[tr]=Sisteminizin kullanıcılarını ve gruplarını yapılandırın
