#TRANSLATIONS
Name[km_KH]=អ្នកប្រើប្រាស់និងក្រុម
GenericName[km_KH]=ការរៀបចំអ្នកប្រើប្រាស់និងក្រុម
Comment[km_KH]=ការរៀបចំអ្នកប្រើប្រាស់និងក្រុមនៃប្រព័ន្ធ
