[Desktop Entry]
Name[ru]=Пользователи и группы
GenericName[ru]=Настройки пользователей и групп
Comment[ru]=Настроить пользователей и группы вашей системы

#TRANSLATIONS_DIR=translations
