#TRANSLATIONS
Name[pt]=Utilizadores e grupos
GenericName[pt]=Definições de utilizadores e grupos
Comment[pt]=Configurar os utilizadores e os grupos do seu sistema
