#TRANSLATIONS
Name[hu]=Felhasználók és csoportok
GenericName[hu]=Felhasználó és csoportkezelés
Comment[hu]=A rendszer felhasználóinak és csoportjainak kezeése
