[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=System tray
Comment=Display applications minimized to the system tray.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ja]=システムトレイに最小化されたアプリケーションを表示します
Name[ja]=システムトレイ
