[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=System tray
Comment=Display applications minimized to the system tray.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru]=Значки программ, свернутых в системный лоток.
Name[ru]=Системный лоток