Name[km_KH]=កម្មវិធីគ្រប់គ្រង​ផ្ទាំងកម្មវិធី Openbox
GenericName[km_KH]=ការកំណត់ Openbox
Comment[km_KH]=ការកំណត់រចនាសម្ព័ន្ធកម្មវិធីគ្រប់គ្រង​ផ្ទាំងកម្មវិធី Openbox (កំណែ Qt)