[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[hu]=Szín kiválasztása a képernyőről. Fejlesztőknek.
Name[hu]=Színválasztó
