[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[uk]=Бере колір під курсором. Для web-розробників.
Name[uk]=Селектор кольору
