[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[ru]=Получить цвет под курсором мыши. Для веб-разработчиков.
Name[ru]=Цветовая палитра