[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[fi]=Näyttää hiiren osoittimen alla olevan värin.
Name[fi]=Värivalitsin
