# Translations
Name[el]=Συσχετίσεις αρχείων
GenericName[el]=Ρυθμίσεις των συσχετίσεων αρχείων
Comment[el]=Διαμόρφωση της συσχέτισης των εφαρμογών με γνωστούς τύπους αρχείων
