# Translations
Comment[ru]=Настроить приложения, ассоциированные с известными типами файлов
GenericName[ru]=Настройки ассоциации файлов
Name[ru]=Ассоциация файлов