Name[es]=Asociaciones de archivo
GenericName[es]=Configuración de las asociaciones de archivo
Comment[es]=Configura las aplicaciones asociadas con tipos de archivo conocidos
