# Translations
Name[pt]=Associação de ficheiros
GenericName[pt]=Definições de associação de ficheiros
Comment[pt]=Configurar associação de ficheiros para os tipos de ficheiro conhecidos
