# Translations
Name[lt]=Failų susiejimai
GenericName[lt]=Failų susiejimų nustatymai
Comment[lt]=Konfigūruoti su žinomais failų tipais susietas programas
