Name[fr]=Association des fichiers
GenericName[fr]=Paramètres d'association des fichiers
Comment[fr]=Configurer les applications associées avec les types de fichier
