# Translations
Name[pl]=Skojarzenia plików
GenericName[pl]=Ustawienia skojarzeń plików
Comment[pl]=Ustawienia domyślnych programów dla danego typu pliku
