Name[hr]=Povezivanja datoteka
GenericName[hr]=Postavke povezivanja datoteka
Comment[hr]=Konfiguriraj povezivanja poznatih vrsta datoteka s programima
