# Translations
Name[ca]=Associacions dels fitxers
GenericName[ca]=Ajusts de les associacions dels fitxers
Comment[ca]=Configureu les aplicacions associades amb els tipus de fitxers coneguts
