Name[gl]=Asociación de ficheiros
GenericName[gl]=Configuración das asociacións de ficheiros
Comment[gl]=Configura os aplicativos asociados con tipos de ficheiro coñecidos
