Name[tr]=Dosya İlişkilendirmeleri
GenericName[tr]=Dosya İlişkilendirme Ayarları
Comment[tr]=Bilinen dosya türleriyle ilişkili uygulamaları yapılandırma
