# Translations
Name[it]=Associazioni file
GenericName[it]=Imposta le associazioni file
Comment[it]=Imposta le associazioni file per le applicazioni installate
