# Translations
Comment[es_VE]=Configurar apariencia del escritorio LXQt
GenericName[es_VE]=Configuración de apariencia de LXQt
Name[es_VE]=Configuración de apariencia de LXQt
