Name[sr@ijekavianlatin]=Podešavanje izgleda Rejzora
Comment[sr@ijekavianlatin]=Podesite izgled Rejzorove radne površi
GenericName[sr@ijekavianlatin]=Podešavanje izgleda
