# Translations
Comment[nl]=Configureer het uiterlijk van het LXQt bureaublad
GenericName[nl]=LXQt Uiterlijk Configuratie
Name[nl]=LXQt Uiterlijk Configuratie
