# Translations
Comment[el]=Διαμόρφωση εμφάνισης της επιφάνειας εργασίας LXQt
GenericName[el]=Διαμόρφωση εμφάνισης LXQt
Name[el]=Διαμόρφωση εμφάνισης LXQt
