Name[sr@ijekavian]=Подешавање изгледа Рејзора
Comment[sr@ijekavian]=Подесите изглед Рејзорове радне површи
GenericName[sr@ijekavian]=Подешавање изгледа
