# Translations
Comment[sr@latin]=Podesite izgled Rejzorove radne površi
GenericName[sr@latin]=Podešavanje izgleda
Name[sr@latin]=Podešavanje izgleda Rejzora
