# Translations
Comment[pt_BR]=Configure a aparência da área de trabalho LXQt
GenericName[pt_BR]=Configuração da aparência do LXQt
Name[pt_BR]=Configuração da aparência do LXQt
